name: Databricks Bundle Deployment

on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    name: "Deploy Bundle"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Databricks CLI
        uses: databricks/setup-cli@main

      - name: Deploy Bundle
        run: databricks bundle deploy
        working-directory: ./vstone_project
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
